// Color Scheme
$color = #FFC107;


// Grid
$gs-cols = 12;

// Grid
$btn-prefix = 'btn'

$btn-sizes = {
  small: 'small'
  large: 'large'
}
$btn-styles = {
  default: 'default',
  primary: 'primary',
  success: 'success',
  danger: 'danger',
  warning: 'warning',
  info: 'info'
}
$btn-colors = {
  default: #E0E0E0,
  primary: #FFC107,
  success: #388E3C,
  danger: #F44336,
  warning: #FF5722,
  info: #2196F3
}