border-radius($radius...)
  -webkit-border-radius $radius
  -moz-border-radius $radius
  border-radius $radius

transition($content...)
  -webkit-transition $content
  -moz-transition $content
  -ms-transition $content
  -o-transition $content
  transition $content

box-shadow($content...)
  -webkit-box-shadow $content
  -moz-box-shadow $content
  box-shadow $content

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}


clearfix()
  &:before, &:after
    content ''
    display table

  &:after
    clear both

text-extrude($style)
  if $style is a 'color'
    $color = $style
  else
    $color = $btn-colors[$style]
  $color2 = darken(spin($color, -10deg), 30%)
  $color3 = darken(spin($color, -20deg), 60%)
  color $color
  text-shadow: 1px 1px 0 $color2, 2px 2px 0 $color2, 3px 3px 0 $color3, 4px 4px 0 $color3, 5px 5px 0 $color3, 6px 6px 0 $color3, 8px 8px 0 rgba(#000, 75%), -.05em -.05em 0 rgba(#000, 75%)

panel()
  display block
  position relative
  background-color #fff
  color #333
  border .15em solid #ccc
  box-shadow 3px 3px 0 0 rgba(#000, 60%)
  text-shadow none

small-panel()
  padding .4em 2em .4em 1em
  border .15em solid #eee
  background-color #fff
  color #333
  border-radius .25em
  box-shadow 2px 2px 0 0 rgba(#000, 18%)