body.index
  height 100%

  #site
    height 100%
    background: #000000 url('../img/cover.png') no-repeat left
    background-size cover
  .site-wrapper
    padding 1.618em ** 4 1.6% 0 1.6%
    background linear-gradient(to bottom, rgba(#000, 82%) 12%, transparent, transparent 60%, #000 100%)
    height 100%
    clearfix()

  // News
  .news
    display flex
    gs-col 6
    background #fff
    padding 1em
    border-radius .25em
    font-size 14px
    border .15em solid #111
    border-bottom none
    box-shadow 4px 4px 0 4px rgba(#000, 75%), inset -4px -4px 0 rgba(#000, 10%)

    .featured-img
      gs-col 5
      overflow hidden
      display block
      padding 0
      margin 0
      border-radius .3em 0 .3em .3em
      background #111 no-repeat center
      background-size cover
      padding-bottom (((5 / $gs-cols) * 100%) / (4 / 3))
      height 0
      box-shadow inset 4px 4px 0 rgba(#000, 38%), inset 10px 10px 0 rgba(#fff, 10%)
      border solid #000
      border-width 0 1px 1px 0

    .featured-content
      gs-col 7
      padding 0 0 0 1em
      margin 0
      position relative

      h3
        margin-bottom .25em
        font-size 1.618em
      .more
        position absolute
        bottom .25em
        right 0
        text-decoration: none
        color #08d
        font-weight bold
        margin-right 1.618em

        &:hover:after
          animation read-more .3s ease-in-out infinite alternate
        &:after
          position: absolute
          right -.8em
          content "\00bb"
          transition all .2s ease


  // Play Now
  .play-now
    gs-col 6
    padding 0 4%
    text-align center
    color #fff

    h1
      //text-shadow 4px 4px 0 rgba(#000, 82%)
      text-extrude(#eee)
      margin .8em 0
      text-transform uppercase
      font-weight bolder
      font-family 'Verdana', 'Roboto', Arial, sans-serif

      .flasher
        transition all 250ms ease-in-out
        text-extrude(primary)
    .btn-play
      font-size 1.618em

      small
        display block
        font-size .4em



  // Footer
  .site-footer
    display block
    position absolute
    bottom 0
    width 100%
    padding 1em
    color rgba(#fff, .82)
    text-align center
    font-size 13px