body.me
  #site
    position relative
    background #efefef url("../img/reg-pattern.png") repeat

    .profile-header
      z-index 12
      display block
      position relative
      padding 2em 4em
      background #121212 url('../../_assets/img/cover.png') no-repeat left 60%
      background-size cover
      border-bottom .5em solid #333
      box-shadow inset 0 -3px 0 rgba(#000, 20%), 0 4px 0 0 #111, 0 6px 0 0 rgba(#000, 14%)

      .content
        display flex
        flex-direction row
        align-items center

        .header-brand
          margin-right auto
        .login-btn
          float right

      .navbar
        z-index 2
        position absolute
        width 100%
        left 0
        bottom 0
        display flex
        justify-content center

        .navbar-nav
          display block
          width 920px
          list-style none
          background rgba(#000, 55%)
          padding 0 1.618em

          .nav-item
            display inline-block

            &:not(:first-child)
              padding-left 3em
            &.active > a
              border-bottom 3px solid #fff
            &.active > a, a:hover
              color #fff
              text-shadow 2px 2px 0 rgba(#000, 75%)
            a
              padding .6em .4em
              display block
              color rgba(#fff, 90%)
              text-decoration none

    .site-wrapper
      display flex
      justify-content center
      position relative
      height 100vh
      width 100%

      .container
        display block
        position relative
        width 920px

        .navbar
          display block
          position relative
          background linear-gradient(to bottom, #fff 50%, #f8f8f8 50%)
          border-radius 0 0 .25em .25em
          border .15em solid #ccc
          box-shadow 0 2px 0 0 #ccc, 0 4px 0 0 rgba(#000, 75%)
          margin-bottom 1.618em

          .navbar-nav
            position relative
            list-style none
            padding 0
            clearfix()

            .nav-item
              display inline-block
              float left
              position relative

              &.active, &:hover
                & > a
                  background linear-gradient(to bottom, #f8f8f8 50%, #f0f0f0 50%)
                  font-weight bold
              a
                display block
                padding 1em 1.618em
                color #333
                font-weight normal
                text-decoration none
                text-shadow none
                border-right 1px dashed #ccc
                transition all .15s ease

                &:active
                  background linear-gradient(to bottom, #f0f0f0 50%, #e3e3e3 50%)
                  box-shadow inset 1px 2px rgba(#000, 22%), inset 4px 6px 0 rgba(#000, 14%)



        .user-info
          display block
          position relative
          width 100%

          .banner
            panel()
            display flex
            flex-direction row
            flex-wrap nowrap
            align-items stretch
            width 100%
            height auto
            background #fff url("../../_assets/img/me-cover.jpg") no-repeat center bottom
            background-size cover
            border-radius .25em
            border none
            padding 1.618em ** 2

            .avatar-container
              display block
              position relative
              clearfix()

              .user-tag
                z-index 2
                display flex
                flex-direction row
                align-items center
                width 100%
                position absolute
                padding .6em 0
                top -.6em
                left 0
                border-left 1px solid rgba(#000, 18%)
                box-shadow -5px 0 6px -5px rgba(#000, 50%)

                .tag
                  position relative
                  font-size .7em
                  color #fff
                  padding .3em .6em
                  background linear-gradient(to bottom, #444 50%, #333 50%)
                  border-radius 0 .25em .25em 0
                  text-shadow 1px 1px 0 #111
                  left -2px

                  &.primary
                    background linear-gradient(to bottom, #FFC107 50%, #FFA000 50%)
                  &.danger
                    background linear-gradient(to bottom, #F44336 50%, #D32F2F 50%)
                  &.info
                    background linear-gradient(to bottom, #2196F3 50%, #1976D2 50%)

              .avatar
                display block
                position relative
                float left
                overflow hidden
                width 140px
                height 140px
                border-radius 100%
                text-align center
                //background linear-gradient(to bottom, #111, #424242)
                background linear-gradient(to bottom right, #ddd 20%, #fff 82%)
                border .15em solid #eee
                //border-color #9E9E9E #212121 #212121 #9E9E9E
                box-shadow inset 4px 4px 0 rgba(#000, 18%), 2px 2px 0 0 rgba(#000, 18%)

                img
                  display inline-block
                  position relative
                  bottom 1.618em ** 1.2
                  max-width 128px


            .info
              flex 1
              display inline-block
              float left
              position relative
              padding 0 .8em

              header
                display flex
                flex-direction row
                flex-wrap nowrap
                align-items center
                position relative
                margin-bottom 1em

                .name
                  display inline-block
                  position relative
                  color #FFC107
                  padding-bottom 6px
                  //font-family 'Alba', 'Verdana', Arial, sans-serif
                  line-height 1em
                  font-size 1.618 ** 1.6em
                  margin-right .4em
                  text-shadow 0 0 1px #111, 1px 1px 0 #EF6C00, 2px 2px 0 #EF6C00, 3px 3px 0 rgba(#000, 65%)

                .status
                  content ''
                  display inline-block
                  min-width 18px
                  min-height 18px
                  padding 4px 8px
                  font-size 13px
                  color #fff
                  text-transform uppercase
                  font-weight bold
                  text-shadow -1px -1px 0 rgba(#000, 75%)
                  background linear-gradient(to bottom, #444 50%, #333 50%)
                  border-radius .25em
                  box-shadow inset 1px 1px 0 rgba(#000, 18%), 1px 1px 0 0 #111, 2px 2px 0 0 #111, 3px 3px 0 0 rgba(#000, 65%)

                  &.on
                    background linear-gradient(to bottom, #4CAF50 50%, #388E3C 50%)
                    box-shadow inset 1px 1px 0 rgba(#000, 18%), 1px 1px 0 0 #1B5E20, 2px 2px 0 0 #1B5E20, 3px 3px 0 0 rgba(#000, 65%)
                  &.sleeping
                    background linear-gradient(to bottom, #FFC107 50%, #FFA000 50%)
                    box-shadow inset 1px 1px 0 rgba(#000, 18%), 1px 1px 0 0 #E65100, 2px 2px 0 0 #E65100, 3px 3px 0 0 rgba(#000, 65%)



              .content
                display block
                position relative
                width 100%

                .status-form
                  display block
                  position relative
                  width 100%

                  .status
                    small-panel()
                    width 100%
                    font-weight bold
                    font-size 14px
                    text-shadow none
                    resize none
                    transition all .2s ease
                    overflow hidden

                    &:not(.readonly)
                      @extend .form-control
                      margin 0
                      font-size 14px
                      padding .4em 2em .4em 1em

                      & + .edit-btn
                        color #999
                        &:hover
                          color #fff

                  .edit-btn
                    display block
                    position absolute
                    right 0
                    top 0
                    padding 5px 6px
                    color #ccc
                    background transparent
                    border none
                    font-size 1.2em
                    cursor pointer
                    transition all .2s ease

                    &:hover
                      color #333

                .acc-info
                  display flex
                  flex-direction row
                  align-items center
                  position relative
                  width 100%
                  margin-top .2em

                  .val-box
                    flex 1
                    display flex
                    position relative
                    font-size 13px
                    font-weight bold
                    small-panel()
                    padding .3em .4em

                    &:not(:last-child)
                      margin-right 1em
                    .icon
                      width 16px
                      height auto
                      margin-right .5em
                    .val
                      display inline-block


                .last-access
                  display flex
                  position relative
                  width 100%
                  margin-top .6em
                  font-weight bold
                  color #fff
                  font-size 14px
                  text-shadow 1px 1px 0 rgba(#000, 70%)

            .r-content
              flex 1
              display flex
              float left
              align-items center
              justify-content center
              position relative

              .play-btn
                display flex
                align-items center
                position relative
    .site-footer
      position relative
      background #060606
      color #eee
      text-align center
      padding 2em
      font-size 13px