body.register
  .center
    display table
    margin 0 auto
    text-align center

  .input-radio
    display inline-block
    margin .5em 0

  #site
    background #121212 url("../img/reg-pattern.png") repeat

  #masthead
    position relative
    background rgba(#000, 82%)

  .site-wrapper
    width 100%
    padding 1.618em ** 2
    color rgba(#fff, 82%)

    .left
      padding-right 1.618em ** 2

      h1
        text-transform uppercase
        color #FFF
        text-align left
        margin 0 0 1.618em 0
        text-shadow 1px 1px 0 #555, 2px 2px 0 #555

      .reg-form
        padding 0
        width 100%
        display block
        text-shadow 1px 1px 0 rgba(#000, 42%)

        .input-group
          input
            width 100%
        .gender
          padding 0 6px

          label
            position relative

            &:hover > span
              visibility visible
              opacity 1
            span
              display block
              visibility hidden
              opacity 0
              font-size 13px
              position absolute
              bottom 100%
              color #fefefe
              background #111
              padding 6px 8px
              left 20%
              margin-bottom 4px
              border-radius .25em
              box-shadow 2px 3px 0 0 rgba(#000, 30%)
              transition all .1s ease

        button
          margin-top 2em
          font-size 1.3em
          margin-left 0

    .right
      padding 1.618em ** 2
      text-align center

  .site-footer
    position relative
    color #eee
    background #060606
    padding 1.618em
    font-size 13px
    text-align center