.ad-container
  $def-color = rgba(#fff, 30%)

  content ''
  display flex
  align-items center
  justify-content center
  position relative
  width 100%
  padding 2em

  .ad
    display block
    position relative
    background none
    border .15em solid $def-color
    text-align center
    vertical-align middle

    & > .name
      display flex
      align-items center
      justify-content center
      position relative
      height 100%
      color $def-color

  &.ad-leaderboard .ad
    width 728px
    height 90px