/* Buttons */

$btn
  $shadow = rgba(#000, 80%)
  $i-shadow = rgba(#000, 14%)

  position relative
  display inline-block
  padding .4em 1em
  text-transform uppercase
  text-decoration none
  font bold 1em 'Roboto', Arial, sans-serif
  border: .15em solid #000;
  cursor: pointer;
  border-radius .25em
  box-shadow 0 4px 0 0 $shadow
  transition all .1s ease-in
  margin .25em
  bottom 3px

  &:hover
    text-decoration none
  &:active, &:focus
    outline none
  &:active
    box-shadow 0 0 0 0 $shadow, inset 4px 4px 0 $i-shadow
    transform translate(0, 4px)
  small
    display block
    font-size .55em
    text-align right
    color rgba(#fff, 82%)
    text-shadow -1px -1px 0 rgba(#000, 10%)

$btn-small
  font-size .8em
$btn-large
  font-size 1.2em

btn-color($color)
  $color = $btn-colors[$color]
  $t-color = lighten($color, 20%)
  background $color
  background linear-gradient(to bottom, $t-color 50%, $color 50%)
  color dark($color) ? rgba(#fff, 82%) : rgba(#000, 82%)

  &:active
    $color = darken($color, 10%)
    $t-color = lighten($color, 20%)
    background linear-gradient(to bottom, $t-color 50%, $color 50%)

btn-size($size)
  if $size isnt normal
    @extend $btn-{$size}

btn($color=primary, $size=normal)
  @extend $btn
  btn-color $color
  btn-size $size

  for $size in $btn-sizes
    &{'.'+$size}
      btn-size($size)

.{$btn-prefix}
  for $style in $btn-styles
    &{'-'+$style}
      btn($style)


// Hotel Button
hotel-btn($size)
  $shadow = rgba(#000, 60%)
  $i-shadow = rgba(#000, 14%)

  position relative
  display inline-block
  padding 6px 12px 6px 24px
  text-transform uppercase
  text-decoration none
  font bold 1em 'Roboto', Arial, sans-serif
  border 2px solid #FFD54F
  background #FFB300
  color #222
  cursor pointer
  border-radius .25em 0 0 .25em
  filter drop-shadow(-1px 4px 0 $shadow)
  text-shadow 1px 1px 0 rgba(#fff, 50%)
  margin .25em
  bottom 4px

  .hbbi
    position relative
    width 21px
    height 26px
    margin-left .4em
  &, &:before, &:after
    transition all .1s ease-in
  &:before, &:after
    content ''
    display block
    position absolute
    border-style solid
  &:before
    border-width 21px
    top -2px
    border-color: transparent transparent transparent #FFD54F
    right: -44px
  &:after
    border-width 19px
    top 0
    border-color: transparent transparent transparent #FFB300
    right: -38px
  &:hover, &:active
    text-decoration none
  &:hover
    background #FFC107
    &:after
      border-left-color #FFC107
  &:active
    background #FFA000
    border-color #FFB300
    filter: drop-shadow(-1px 1px 0 $shadow);
    bottom 1px
    &:after
      border-left-color #FFA000
    &:before
      border-left-color #FFB300

.hotel-btn
  hotel-btn('small')