.form-control
  position relative
  display inline-block
  background #292929
  padding .6em 1em
  color rgba(#fff, .82)
  border-radius 4px
  border .15em solid #4D4D4D
  margin .25em
  transition all .1s ease-in-out
  box-shadow inset 1px 3px 0 rgba(#000, 18%), 0 2px 0 0 rgba(#000, 18%)

  &:focus
    border-color #FFC107
    +placeholder()
      color rgba(#fff, .75)
  +placeholder()
    color rgba(#fff, .55)

  &.invalid
    border-color #F44336

.input-group-box
  display block
  background rgba(#000, 50%)
  border-radius .25em
  margin-top 1.618em

  .input-group
    padding 1em
    margin-top 0 !important

    &:not(:first-child)
      border-top 1px solid rgba(#fff, 15%)

.form-inline
  display flex
  flex-direction row
  align-items flex-start

  input, button
    flex 0 auto
  .input-group
    margin-top 0 !important

.input-group
  display block
  position relative
  clearfix()

  &.check-group

  &.inline
    display flex
    align-items flex-start
    flex-direction row
    flex-wrap nowrap

  &:not(:first-child)
    margin-top 1.618em

  .input-label
    padding-left .35em

    label
      cursor pointer
      font-size 18px
      color #FFC107
    p
      margin 1em 0 .5em 0
      font-size 15px
      color #fff

  input[type="checkbox"]
    width 30px !important
    margin .2em .8em 0 0

// Select
select
  font-size 15px

  option
    background-color #fff
    color #333
    font-weight normal
    display block
    white-space pre
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

// Form validation
.form-validator-msg
  display block
  position absolute
  top 0
  left 0
  padding .5em 1em
  font-size 14px
  color #fff
  background #F44336
  box-shadow 4px 4px 0 0 rgba(#000, 26%)
  border-radius .25em
  font-weight normal
  max-width 300px
  font-family 'Roboto', Arial, sans-serif

  &:before
    content ''
    display block
    position absolute
    left .25em
    bottom 100%
    border 6px solid
    border-color transparent transparent #F44336 transparent
  &.password
    padding 1.2em
    background #fefefe
    color #333

    &:before
      border-bottom-color #fefefe
    header
      font-weight bold
    .content
      display block
      position relative
      width 100%
      list-style none
      padding 0
      margin-top .45em

      li
        display flex
        flex-direction row
        position relative
        width 100%
        color #F44336
        padding 4px 0
        transition all .4s ease

        &.success
          color #2E7D32
          font-weight bold
          .icon
            margin-right .4em
        .icon
          margin-right .25em
          flex 0 auto 0




.input-radio
  label
    display inline-block
    padding .25em 1.618em
    border .15em solid rgba(#FFF, 18%)
    border-radius .25em

    img
      float none

  input[type='radio']
    position: absolute
    left -1000000px
    opacity 0

    &:checked ~ label
      border-color $btn-colors['primary']
    &:focus ~ label
      border-color: rgba(#FFF, 82%)