.gs-row
  display block
  width 100%
  clearfix()

$gs-col
  display block
  float left
  padding 0 1.6%
  margin-bottom 20px

gs-col($width=$gs-cols)
  @extend $gs-col
  width ($width / $gs-cols) * 100%

for c in (1..$gs-cols)
  .col-{c}
    gs-col c