$folder = "../../_assets/habbo-icons/"
$icons = {
  admin: "gif",
  admin-circle: "gif",
  arrow: "gif",
  bat: "gif",
  blocked: "gif",
  book-warn: "gif",
  broken-heart: "gif",
  credits: "gif",
  credit: "gif",
  credit-pack: "gif",
  digital-lock: "gif",
  dress: "gif",
  edit: "gif",
  edit-badge-button: "gif",
  envelope: "gif",
  favourite: "gif",
  favourite-chat: "gif",
  favourite-group: "gif",
  favourite-group-circle: "gif",
  forum-add: "gif",
  forum-drag: "gif",
  forum-pin: "gif",
  forum-pin-warn: "gif",
  forum-warn: "gif",
  fun: "gif",
  games: "gif",
  gear: "gif",
  habbo-offline: "gif",
  habbo-online: "gif",
  habbowood: "gif",
  hc: "gif",
  hc-badge: "gif",
  help: "gif",
  home: "gif",
  hotel: "gif",
  join-room: "gif",
  hey: "gif",
  like: "gif",
  lock: "gif",
  mail: "gif",
  mini-hc-badge: "gif",
  mini-key: "gif",
  minus-off: "gif",
  minus-on: "gif",
  minus-square: "gif",
  mobile: "gif",
  my-2: "gif",
  mycredits: "gif",
  myhabbo: "gif",
  new-01: "gif",
  new-02: "gif",
  new-05: "gif",
  new-07: "gif",
  new-08: "gif",
  new-09: "gif",
  notes: "gif",
  owner: "gif",
  owner-circle: "gif",
  plus-disabled: "gif",
  plus-off: "gif",
  plus-on: "gif",
  plus-square: "gif",
  question: "gif",
  recicle: "gif",
  report-button: "gif",
  ribbon-prize: "gif",
  search: "gif",
  settings: "gif",
  settings-single: "gif",
  shop: "gif",
  small-star: "gif",
  star: "gif",
  star-white: "gif",
  status-exclusive: "gif",
  status-exclusive-big: "gif",
  suitcase: "gif",
  tab-hc: "gif",
  tinyglass: "gif",
  tools-backgrounds: "gif",
  tools-cancel: "gif",
  tools-edit: "gif",
  tools-memberlist: "gif",
  tools-notes: "gif",
  tools-save: "gif",
  tools-stickers: "gif",
  tools-widgets: "gif",
  trash: "gif",
  trash-open: "gif",
  warn: "gif",
  warn-2: "gif",
  diamond: "gif",
  ducket: "gif",
  duckets: "gif",
  habbo-staff: "gif",
  hotel-flat: "gif"
}

hbbi($name, $format)
  background-image url($folder + $name + "." + $format)

.hbbi
  display inline-block
  position relative
  width 15px
  height 15px
.hbbi:before
  content ''
  display: inline-block
  border none
  box-shadow none
  background-color transparent
  background-repeat no-repeat
  background-position 50% 50%
  -o-background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width 100%
  height 100%

for $name, $format in $icons
  .hbbi-{$name}:before
    hbbi($name, $format)