#masthead.header
  z-index 10
  display block
  position absolute
  width 100%
  top 0
  left 0
  background none
  padding .6em 1em
  border-bottom .15em solid rgba(#fff, 18%)

  .content
    display flex
    flex-direction row
    align-items center
    width 900px
    margin 0 auto

    .header-brand
      width auto
      margin-right auto

      img
        display block
        max-width 100%
    .login-form
      button
        font-size .85em
        bottom 0
      label
        display block
        text-align left
        font-size .75em
        padding 0 8px

        a
          color rgba(#fff, .82)
          text-decoration none

          &:hover
            color #fff