@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: Alba;
  src: local("Alba"), url("../../_assets/fonts/DIMITRI.ttf");
  font-weight: bold;
}
.ad-container {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 2em;
}
.ad-container .ad {
  display: block;
  position: relative;
  background: none;
  border: 0.15em solid rgba(255,255,255,0.3);
  text-align: center;
  vertical-align: middle;
}
.ad-container .ad > .name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  color: rgba(255,255,255,0.3);
}
.ad-container.ad-leaderboard .ad {
  width: 728px;
  height: 90px;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info {
  position: relative;
  display: inline-block;
  padding: 0.4em 1em;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 1em 'Roboto', Arial, sans-serif;
  border: 0.15em solid #000;
  cursor: pointer;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.8);
  -moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.8);
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.8);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  margin: 0.25em;
  bottom: 3px;
}
.btn-default:hover,
.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover,
.btn-info:hover {
  text-decoration: none;
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-danger:active,
.btn-warning:active,
.btn-info:active,
.btn-default:focus,
.btn-primary:focus,
.btn-success:focus,
.btn-danger:focus,
.btn-warning:focus,
.btn-info:focus {
  outline: none;
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-danger:active,
.btn-warning:active,
.btn-info:active {
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.8), inset 4px 4px 0 rgba(0,0,0,0.14);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.8), inset 4px 4px 0 rgba(0,0,0,0.14);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.8), inset 4px 4px 0 rgba(0,0,0,0.14);
  transform: translate(0, 4px);
}
.btn-default small,
.btn-primary small,
.btn-success small,
.btn-danger small,
.btn-warning small,
.btn-info small {
  display: block;
  font-size: 0.55em;
  text-align: right;
  color: rgba(255,255,255,0.82);
  text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
}
.btn-default.small,
.btn-primary.small,
.btn-success.small,
.btn-danger.small,
.btn-warning.small,
.btn-info.small {
  font-size: 0.8em;
}
.btn-default.large,
.btn-primary.large,
.btn-success.large,
.btn-danger.large,
.btn-warning.large,
.btn-info.large {
  font-size: 1.2em;
}
.btn-default {
  background: #e0e0e0;
  background: linear-gradient(to bottom, #e6e6e6 50%, #e0e0e0 50%);
  color: rgba(0,0,0,0.82);
}
.btn-default:active {
  background: linear-gradient(to bottom, #d5d5d5 50%, #cacaca 50%);
}
.btn-primary {
  background: #ffc107;
  background: linear-gradient(to bottom, #ffcd39 50%, #ffc107 50%);
  color: rgba(0,0,0,0.82);
}
.btn-primary:active {
  background: linear-gradient(to bottom, #ffc824 50%, #ecb100 50%);
}
.btn-success {
  background: #388e3c;
  background: linear-gradient(to bottom, #4cb851 50%, #388e3c 50%);
  color: rgba(255,255,255,0.82);
}
.btn-success:active {
  background: linear-gradient(to bottom, #45b04a 50%, #328036 50%);
}
.btn-danger {
  background: #f44336;
  background: linear-gradient(to bottom, #f6695e 50%, #f44336 50%);
  color: rgba(0,0,0,0.82);
}
.btn-danger:active {
  background: linear-gradient(to bottom, #f55448 50%, #f2291a 50%);
}
.btn-warning {
  background: #ff5722;
  background: linear-gradient(to bottom, #ff794e 50%, #ff5722 50%);
  color: rgba(0,0,0,0.82);
}
.btn-warning:active {
  background: linear-gradient(to bottom, #ff6737 50%, #ff4105 50%);
}
.btn-info {
  background: #2196f3;
  background: linear-gradient(to bottom, #4dabf5 50%, #2196f3 50%);
  color: rgba(0,0,0,0.82);
}
.btn-info:active {
  background: linear-gradient(to bottom, #39a1f4 50%, #0d89ec 50%);
}
.hotel-btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px 6px 24px;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 1em 'Roboto', Arial, sans-serif;
  border: 2px solid #ffd54f;
  background: #ffb300;
  color: #222;
  cursor: pointer;
  -webkit-border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  border-radius: 0.25em 0 0 0.25em;
  filter: drop-shadow(-1px 4px 0 rgba(0,0,0,0.6));
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  margin: 0.25em;
  bottom: 4px;
}
.hotel-btn .hbbi {
  position: relative;
  width: 21px;
  height: 26px;
  margin-left: 0.4em;
}
.hotel-btn,
.hotel-btn:before,
.hotel-btn:after {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.hotel-btn:before,
.hotel-btn:after {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
}
.hotel-btn:before {
  border-width: 21px;
  top: -2px;
  border-color: transparent transparent transparent #ffd54f;
  right: -44px;
}
.hotel-btn:after {
  border-width: 19px;
  top: 0;
  border-color: transparent transparent transparent #ffb300;
  right: -38px;
}
.hotel-btn:hover,
.hotel-btn:active {
  text-decoration: none;
}
.hotel-btn:hover {
  background: #ffc107;
}
.hotel-btn:hover:after {
  border-left-color: #ffc107;
}
.hotel-btn:active {
  background: #ffa000;
  border-color: #ffb300;
  filter: drop-shadow(-1px 1px 0 rgba(0,0,0,0.6));
  bottom: 1px;
}
.hotel-btn:active:after {
  border-left-color: #ffa000;
}
.hotel-btn:active:before {
  border-left-color: #ffb300;
}
.form-control,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly) {
  position: relative;
  display: inline-block;
  background: #292929;
  padding: 0.6em 1em;
  color: rgba(255,255,255,0.82);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0.15em solid #4d4d4d;
  margin: 0.25em;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: inset 1px 3px 0 rgba(0,0,0,0.18), 0 2px 0 0 rgba(0,0,0,0.18);
  -moz-box-shadow: inset 1px 3px 0 rgba(0,0,0,0.18), 0 2px 0 0 rgba(0,0,0,0.18);
  box-shadow: inset 1px 3px 0 rgba(0,0,0,0.18), 0 2px 0 0 rgba(0,0,0,0.18);
}
.form-control:focus,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly):focus {
  border-color: #ffc107;
}
.form-control:focus::-webkit-input-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly):focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.75);
}
.form-control:focus:-moz-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly):focus:-moz-placeholder {
  color: rgba(255,255,255,0.75);
}
.form-control:focus::-moz-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly):focus::-moz-placeholder {
  color: rgba(255,255,255,0.75);
}
.form-control:focus:-ms-input-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly):focus:-ms-input-placeholder {
  color: rgba(255,255,255,0.75);
}
.form-control::-webkit-input-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly)::-webkit-input-placeholder {
  color: rgba(255,255,255,0.55);
}
.form-control:-moz-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly):-moz-placeholder {
  color: rgba(255,255,255,0.55);
}
.form-control::-moz-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly)::-moz-placeholder {
  color: rgba(255,255,255,0.55);
}
.form-control:-ms-input-placeholder,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly):-ms-input-placeholder {
  color: rgba(255,255,255,0.55);
}
.form-control.invalid,
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly).invalid {
  border-color: #f44336;
}
.input-group-box {
  display: block;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  margin-top: 1.618em;
}
.input-group-box .input-group {
  padding: 1em;
  margin-top: 0 !important;
}
.input-group-box .input-group:not(:first-child) {
  border-top: 1px solid rgba(255,255,255,0.15);
}
.form-inline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.form-inline input,
.form-inline button {
  flex: 0 auto;
}
.form-inline .input-group {
  margin-top: 0 !important;
}
.input-group {
  display: block;
  position: relative;
}
.input-group:before,
.input-group:after {
  content: '';
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group.check-group,
.input-group.inline {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.input-group:not(:first-child) {
  margin-top: 1.618em;
}
.input-group .input-label {
  padding-left: 0.35em;
}
.input-group .input-label label {
  cursor: pointer;
  font-size: 18px;
  color: #ffc107;
}
.input-group .input-label p {
  margin: 1em 0 0.5em 0;
  font-size: 15px;
  color: #fff;
}
.input-group input[type="checkbox"] {
  width: 30px !important;
  margin: 0.2em 0.8em 0 0;
}
select {
  font-size: 15px;
}
select option {
  background-color: #fff;
  color: #333;
  font-weight: normal;
  display: block;
  white-space: pre;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.form-validator-msg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 1em;
  font-size: 14px;
  color: #fff;
  background: #f44336;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.26);
  -moz-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.26);
  box-shadow: 4px 4px 0 0 rgba(0,0,0,0.26);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: normal;
  max-width: 300px;
  font-family: 'Roboto', Arial, sans-serif;
}
.form-validator-msg:before {
  content: '';
  display: block;
  position: absolute;
  left: 0.25em;
  bottom: 100%;
  border: 6px solid;
  border-color: transparent transparent #f44336 transparent;
}
.form-validator-msg.password {
  padding: 1.2em;
  background: #fefefe;
  color: #333;
}
.form-validator-msg.password:before {
  border-bottom-color: #fefefe;
}
.form-validator-msg.password header {
  font-weight: bold;
}
.form-validator-msg.password .content {
  display: block;
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 0.45em;
}
.form-validator-msg.password .content li {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  color: #f44336;
  padding: 4px 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.form-validator-msg.password .content li.success {
  color: #2e7d32;
  font-weight: bold;
}
.form-validator-msg.password .content li.success .icon {
  margin-right: 0.4em;
}
.form-validator-msg.password .content li .icon {
  margin-right: 0.25em;
  flex: 0 auto 0;
}
.input-radio label {
  display: inline-block;
  padding: 0.25em 1.618em;
  border: 0.15em solid rgba(255,255,255,0.18);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.input-radio label img {
  float: none;
}
.input-radio input[type='radio'] {
  position: absolute;
  left: -1000000px;
  opacity: 0;
}
.input-radio input[type='radio']:checked ~ label {
  border-color: #ffc107;
}
.input-radio input[type='radio']:focus ~ label {
  border-color: rgba(255,255,255,0.82);
}
.gs-row {
  display: block;
  width: 100%;
}
.gs-row:before,
.gs-row:after {
  content: '';
  display: table;
}
.gs-row:after {
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
body.index .news,
body.index .news .featured-img,
body.index .news .featured-content,
body.index .play-now {
  display: block;
  float: left;
  padding: 0 1.6%;
  margin-bottom: 20px;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
.hbbi {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
.hbbi:before {
  content: '';
  display: inline-block;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -o-background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.hbbi-admin:before {
  background-image: url("../../_assets/habbo-icons/admin.gif");
}
.hbbi-admin-circle:before {
  background-image: url("../../_assets/habbo-icons/admin-circle.gif");
}
.hbbi-arrow:before {
  background-image: url("../../_assets/habbo-icons/arrow.gif");
}
.hbbi-bat:before {
  background-image: url("../../_assets/habbo-icons/bat.gif");
}
.hbbi-blocked:before {
  background-image: url("../../_assets/habbo-icons/blocked.gif");
}
.hbbi-book-warn:before {
  background-image: url("../../_assets/habbo-icons/book-warn.gif");
}
.hbbi-broken-heart:before {
  background-image: url("../../_assets/habbo-icons/broken-heart.gif");
}
.hbbi-credits:before {
  background-image: url("../../_assets/habbo-icons/credits.gif");
}
.hbbi-credit:before {
  background-image: url("../../_assets/habbo-icons/credit.gif");
}
.hbbi-credit-pack:before {
  background-image: url("../../_assets/habbo-icons/credit-pack.gif");
}
.hbbi-digital-lock:before {
  background-image: url("../../_assets/habbo-icons/digital-lock.gif");
}
.hbbi-dress:before {
  background-image: url("../../_assets/habbo-icons/dress.gif");
}
.hbbi-edit:before {
  background-image: url("../../_assets/habbo-icons/edit.gif");
}
.hbbi-edit-badge-button:before {
  background-image: url("../../_assets/habbo-icons/edit-badge-button.gif");
}
.hbbi-envelope:before {
  background-image: url("../../_assets/habbo-icons/envelope.gif");
}
.hbbi-favourite:before {
  background-image: url("../../_assets/habbo-icons/favourite.gif");
}
.hbbi-favourite-chat:before {
  background-image: url("../../_assets/habbo-icons/favourite-chat.gif");
}
.hbbi-favourite-group:before {
  background-image: url("../../_assets/habbo-icons/favourite-group.gif");
}
.hbbi-favourite-group-circle:before {
  background-image: url("../../_assets/habbo-icons/favourite-group-circle.gif");
}
.hbbi-forum-add:before {
  background-image: url("../../_assets/habbo-icons/forum-add.gif");
}
.hbbi-forum-drag:before {
  background-image: url("../../_assets/habbo-icons/forum-drag.gif");
}
.hbbi-forum-pin:before {
  background-image: url("../../_assets/habbo-icons/forum-pin.gif");
}
.hbbi-forum-pin-warn:before {
  background-image: url("../../_assets/habbo-icons/forum-pin-warn.gif");
}
.hbbi-forum-warn:before {
  background-image: url("../../_assets/habbo-icons/forum-warn.gif");
}
.hbbi-fun:before {
  background-image: url("../../_assets/habbo-icons/fun.gif");
}
.hbbi-games:before {
  background-image: url("../../_assets/habbo-icons/games.gif");
}
.hbbi-gear:before {
  background-image: url("../../_assets/habbo-icons/gear.gif");
}
.hbbi-habbo-offline:before {
  background-image: url("../../_assets/habbo-icons/habbo-offline.gif");
}
.hbbi-habbo-online:before {
  background-image: url("../../_assets/habbo-icons/habbo-online.gif");
}
.hbbi-habbowood:before {
  background-image: url("../../_assets/habbo-icons/habbowood.gif");
}
.hbbi-hc:before {
  background-image: url("../../_assets/habbo-icons/hc.gif");
}
.hbbi-hc-badge:before {
  background-image: url("../../_assets/habbo-icons/hc-badge.gif");
}
.hbbi-help:before {
  background-image: url("../../_assets/habbo-icons/help.gif");
}
.hbbi-home:before {
  background-image: url("../../_assets/habbo-icons/home.gif");
}
.hbbi-hotel:before {
  background-image: url("../../_assets/habbo-icons/hotel.gif");
}
.hbbi-join-room:before {
  background-image: url("../../_assets/habbo-icons/join-room.gif");
}
.hbbi-hey:before {
  background-image: url("../../_assets/habbo-icons/hey.gif");
}
.hbbi-like:before {
  background-image: url("../../_assets/habbo-icons/like.gif");
}
.hbbi-lock:before {
  background-image: url("../../_assets/habbo-icons/lock.gif");
}
.hbbi-mail:before {
  background-image: url("../../_assets/habbo-icons/mail.gif");
}
.hbbi-mini-hc-badge:before {
  background-image: url("../../_assets/habbo-icons/mini-hc-badge.gif");
}
.hbbi-mini-key:before {
  background-image: url("../../_assets/habbo-icons/mini-key.gif");
}
.hbbi-minus-off:before {
  background-image: url("../../_assets/habbo-icons/minus-off.gif");
}
.hbbi-minus-on:before {
  background-image: url("../../_assets/habbo-icons/minus-on.gif");
}
.hbbi-minus-square:before {
  background-image: url("../../_assets/habbo-icons/minus-square.gif");
}
.hbbi-mobile:before {
  background-image: url("../../_assets/habbo-icons/mobile.gif");
}
.hbbi-my-2:before {
  background-image: url("../../_assets/habbo-icons/my-2.gif");
}
.hbbi-mycredits:before {
  background-image: url("../../_assets/habbo-icons/mycredits.gif");
}
.hbbi-myhabbo:before {
  background-image: url("../../_assets/habbo-icons/myhabbo.gif");
}
.hbbi-new-01:before {
  background-image: url("../../_assets/habbo-icons/new-01.gif");
}
.hbbi-new-02:before {
  background-image: url("../../_assets/habbo-icons/new-02.gif");
}
.hbbi-new-05:before {
  background-image: url("../../_assets/habbo-icons/new-05.gif");
}
.hbbi-new-07:before {
  background-image: url("../../_assets/habbo-icons/new-07.gif");
}
.hbbi-new-08:before {
  background-image: url("../../_assets/habbo-icons/new-08.gif");
}
.hbbi-new-09:before {
  background-image: url("../../_assets/habbo-icons/new-09.gif");
}
.hbbi-notes:before {
  background-image: url("../../_assets/habbo-icons/notes.gif");
}
.hbbi-owner:before {
  background-image: url("../../_assets/habbo-icons/owner.gif");
}
.hbbi-owner-circle:before {
  background-image: url("../../_assets/habbo-icons/owner-circle.gif");
}
.hbbi-plus-disabled:before {
  background-image: url("../../_assets/habbo-icons/plus-disabled.gif");
}
.hbbi-plus-off:before {
  background-image: url("../../_assets/habbo-icons/plus-off.gif");
}
.hbbi-plus-on:before {
  background-image: url("../../_assets/habbo-icons/plus-on.gif");
}
.hbbi-plus-square:before {
  background-image: url("../../_assets/habbo-icons/plus-square.gif");
}
.hbbi-question:before {
  background-image: url("../../_assets/habbo-icons/question.gif");
}
.hbbi-recicle:before {
  background-image: url("../../_assets/habbo-icons/recicle.gif");
}
.hbbi-report-button:before {
  background-image: url("../../_assets/habbo-icons/report-button.gif");
}
.hbbi-ribbon-prize:before {
  background-image: url("../../_assets/habbo-icons/ribbon-prize.gif");
}
.hbbi-search:before {
  background-image: url("../../_assets/habbo-icons/search.gif");
}
.hbbi-settings:before {
  background-image: url("../../_assets/habbo-icons/settings.gif");
}
.hbbi-settings-single:before {
  background-image: url("../../_assets/habbo-icons/settings-single.gif");
}
.hbbi-shop:before {
  background-image: url("../../_assets/habbo-icons/shop.gif");
}
.hbbi-small-star:before {
  background-image: url("../../_assets/habbo-icons/small-star.gif");
}
.hbbi-star:before {
  background-image: url("../../_assets/habbo-icons/star.gif");
}
.hbbi-star-white:before {
  background-image: url("../../_assets/habbo-icons/star-white.gif");
}
.hbbi-status-exclusive:before {
  background-image: url("../../_assets/habbo-icons/status-exclusive.gif");
}
.hbbi-status-exclusive-big:before {
  background-image: url("../../_assets/habbo-icons/status-exclusive-big.gif");
}
.hbbi-suitcase:before {
  background-image: url("../../_assets/habbo-icons/suitcase.gif");
}
.hbbi-tab-hc:before {
  background-image: url("../../_assets/habbo-icons/tab-hc.gif");
}
.hbbi-tinyglass:before {
  background-image: url("../../_assets/habbo-icons/tinyglass.gif");
}
.hbbi-tools-backgrounds:before {
  background-image: url("../../_assets/habbo-icons/tools-backgrounds.gif");
}
.hbbi-tools-cancel:before {
  background-image: url("../../_assets/habbo-icons/tools-cancel.gif");
}
.hbbi-tools-edit:before {
  background-image: url("../../_assets/habbo-icons/tools-edit.gif");
}
.hbbi-tools-memberlist:before {
  background-image: url("../../_assets/habbo-icons/tools-memberlist.gif");
}
.hbbi-tools-notes:before {
  background-image: url("../../_assets/habbo-icons/tools-notes.gif");
}
.hbbi-tools-save:before {
  background-image: url("../../_assets/habbo-icons/tools-save.gif");
}
.hbbi-tools-stickers:before {
  background-image: url("../../_assets/habbo-icons/tools-stickers.gif");
}
.hbbi-tools-widgets:before {
  background-image: url("../../_assets/habbo-icons/tools-widgets.gif");
}
.hbbi-trash:before {
  background-image: url("../../_assets/habbo-icons/trash.gif");
}
.hbbi-trash-open:before {
  background-image: url("../../_assets/habbo-icons/trash-open.gif");
}
.hbbi-warn:before {
  background-image: url("../../_assets/habbo-icons/warn.gif");
}
.hbbi-warn-2:before {
  background-image: url("../../_assets/habbo-icons/warn-2.gif");
}
.hbbi-diamond:before {
  background-image: url("../../_assets/habbo-icons/diamond.gif");
}
.hbbi-ducket:before {
  background-image: url("../../_assets/habbo-icons/ducket.gif");
}
.hbbi-duckets:before {
  background-image: url("../../_assets/habbo-icons/duckets.gif");
}
.hbbi-habbo-staff:before {
  background-image: url("../../_assets/habbo-icons/habbo-staff.gif");
}
.hbbi-hotel-flat:before {
  background-image: url("../../_assets/habbo-icons/hotel-flat.gif");
}
#masthead.header {
  z-index: 10;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: none;
  padding: 0.6em 1em;
  border-bottom: 0.15em solid rgba(255,255,255,0.18);
}
#masthead.header .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}
#masthead.header .content .header-brand {
  width: auto;
  margin-right: auto;
}
#masthead.header .content .header-brand img {
  display: block;
  max-width: 100%;
}
#masthead.header .content .login-form button {
  font-size: 0.85em;
  bottom: 0;
}
#masthead.header .content .login-form label {
  display: block;
  text-align: left;
  font-size: 0.75em;
  padding: 0 8px;
}
#masthead.header .content .login-form label a {
  color: rgba(255,255,255,0.82);
  text-decoration: none;
}
#masthead.header .content .login-form label a:hover {
  color: #fff;
}
[class*="particle-"] {
  position: relative;
}
.particle {
  background-color: #000;
  width: 300px;
  height: 300px;
  display: block;
  content: '';
}
.particle-bubbles >.particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(33,150,243,0.5);
  animation: bubbles 3s ease-in infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.particle-squares >.particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  animation: bubbles 3s ease-in infinite;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.particle-hearts >.particle {
  opacity: 0;
  position: absolute;
  background-color: #cc2a5d;
  animation: hearts 3s ease-in infinite;
}
.particle-hearts >.particle:before,
.particle-hearts >.particle:after {
  position: absolute;
  content: '';
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #cc2a5d;
}
.particle-hearts >.particle:before {
  transform: translateX(-50%);
}
.particle-hearts >.particle:after {
  transform: translateY(-50%);
}
.particle-lines >.particle {
  position: absolute;
  background-color: rgba(244,67,54,0.5);
  animation: lines 3s linear infinite;
}
.particle-confetti >.particle {
  opacity: 0;
  position: absolute;
  animation: confetti 3s ease-in infinite;
}
.particle-confetti >.particle.c1 {
  background-color: rgba(76,175,80,0.5);
}
.particle-confetti >.particle.c2 {
  background-color: rgba(156,39,176,0.5);
}
.particle-fire >.particle {
  position: absolute;
  background-color: rgba(255,193,7,0.5);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border-top-right-radius: 0px;
  animation: fires 0.8s linear infinite;
  transform: rotate(-45deg);
  opacity: 0;
}
.particle-fire >.particle:before {
  position: absolute;
  content: '';
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border-top-right-radius: 0px;
  background-color: rgba(251,140,0,0.5);
}
.particle-sunbeams >.particle {
  position: absolute;
  background-color: rgba(253,216,53,0.5);
  animation: sunbeams 3s linear infinite;
}
@-moz-keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
@-webkit-keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
@-o-keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
@-moz-keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@-webkit-keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@-o-keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@-moz-keyframes lines {
  0%, 50%, 100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes lines {
  0%, 50%, 100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
@-o-keyframes lines {
  0%, 50%, 100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
@keyframes lines {
  0%, 50%, 100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
@-moz-keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@-webkit-keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@-o-keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@-moz-keyframes fires {
  0% {
    transform: rotate(-70deg) translateY(0%);
  }
  25% {
    transform: rotate(-20deg) translateY(-5%);
    opacity: 1;
  }
  50% {
    transform: rotate(-70deg) translateY(-10%);
  }
  75% {
    transform: rotate(-20deg) translateY(-20%);
  }
  100% {
    transform: rotate(-70deg) translateY(-40%);
    opacity: 1;
  }
}
@-webkit-keyframes fires {
  0% {
    transform: rotate(-70deg) translateY(0%);
  }
  25% {
    transform: rotate(-20deg) translateY(-5%);
    opacity: 1;
  }
  50% {
    transform: rotate(-70deg) translateY(-10%);
  }
  75% {
    transform: rotate(-20deg) translateY(-20%);
  }
  100% {
    transform: rotate(-70deg) translateY(-40%);
    opacity: 1;
  }
}
@-o-keyframes fires {
  0% {
    transform: rotate(-70deg) translateY(0%);
  }
  25% {
    transform: rotate(-20deg) translateY(-5%);
    opacity: 1;
  }
  50% {
    transform: rotate(-70deg) translateY(-10%);
  }
  75% {
    transform: rotate(-20deg) translateY(-20%);
  }
  100% {
    transform: rotate(-70deg) translateY(-40%);
    opacity: 1;
  }
}
@keyframes fires {
  0% {
    transform: rotate(-70deg) translateY(0%);
  }
  25% {
    transform: rotate(-20deg) translateY(-5%);
    opacity: 1;
  }
  50% {
    transform: rotate(-70deg) translateY(-10%);
  }
  75% {
    transform: rotate(-20deg) translateY(-20%);
  }
  100% {
    transform: rotate(-70deg) translateY(-40%);
    opacity: 1;
  }
}
@-moz-keyframes sunbeams {
  0% {
    transform: translateY(40%) rotate(0deg);
  }
  50% {
    transform: translateY(-40%) rotate(180deg);
  }
  100% {
    transform: translateY(40%) rotate(360deg);
  }
  0%, 14%, 17%, 43%, 53%, 71%, 80%, 94%, 100% {
    opacity: 0;
  }
  6%, 15%, 24%, 28%, 48%, 55%, 78%, 82%, 99% {
    opacity: 1;
  }
}
@-webkit-keyframes sunbeams {
  0% {
    transform: translateY(40%) rotate(0deg);
  }
  50% {
    transform: translateY(-40%) rotate(180deg);
  }
  100% {
    transform: translateY(40%) rotate(360deg);
  }
  0%, 14%, 17%, 43%, 53%, 71%, 80%, 94%, 100% {
    opacity: 0;
  }
  6%, 15%, 24%, 28%, 48%, 55%, 78%, 82%, 99% {
    opacity: 1;
  }
}
@-o-keyframes sunbeams {
  0% {
    transform: translateY(40%) rotate(0deg);
  }
  50% {
    transform: translateY(-40%) rotate(180deg);
  }
  100% {
    transform: translateY(40%) rotate(360deg);
  }
  0%, 14%, 17%, 43%, 53%, 71%, 80%, 94%, 100% {
    opacity: 0;
  }
  6%, 15%, 24%, 28%, 48%, 55%, 78%, 82%, 99% {
    opacity: 1;
  }
}
@keyframes sunbeams {
  0% {
    transform: translateY(40%) rotate(0deg);
  }
  50% {
    transform: translateY(-40%) rotate(180deg);
  }
  100% {
    transform: translateY(40%) rotate(360deg);
  }
  0%, 14%, 17%, 43%, 53%, 71%, 80%, 94%, 100% {
    opacity: 0;
  }
  6%, 15%, 24%, 28%, 48%, 55%, 78%, 82%, 99% {
    opacity: 1;
  }
}
body.index {
  height: 100%;
}
body.index #site {
  height: 100%;
  background: #000 url("../img/cover.png") no-repeat left;
  background-size: cover;
}
body.index .site-wrapper {
  padding: 6.853526069776002em 1.6% 0 1.6%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.82) 12%, transparent, transparent 60%, #000 100%);
  height: 100%;
}
body.index .site-wrapper:before,
body.index .site-wrapper:after {
  content: '';
  display: table;
}
body.index .site-wrapper:after {
  clear: both;
}
body.index .news {
  display: flex;
  width: 50%;
  background: #fff;
  padding: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 14px;
  border: 0.15em solid #111;
  border-bottom: none;
  -webkit-box-shadow: 4px 4px 0 4px rgba(0,0,0,0.75), inset -4px -4px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 4px 4px 0 4px rgba(0,0,0,0.75), inset -4px -4px 0 rgba(0,0,0,0.1);
  box-shadow: 4px 4px 0 4px rgba(0,0,0,0.75), inset -4px -4px 0 rgba(0,0,0,0.1);
}
body.index .news .featured-img {
  width: 41.66666666666667%;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0.3em 0 0.3em 0.3em;
  -moz-border-radius: 0.3em 0 0.3em 0.3em;
  border-radius: 0.3em 0 0.3em 0.3em;
  background: #111 no-repeat center;
  background-size: cover;
  padding-bottom: 31.250000000000004%;
  height: 0;
  -webkit-box-shadow: inset 4px 4px 0 rgba(0,0,0,0.38), inset 10px 10px 0 rgba(255,255,255,0.1);
  -moz-box-shadow: inset 4px 4px 0 rgba(0,0,0,0.38), inset 10px 10px 0 rgba(255,255,255,0.1);
  box-shadow: inset 4px 4px 0 rgba(0,0,0,0.38), inset 10px 10px 0 rgba(255,255,255,0.1);
  border: solid #000;
  border-width: 0 1px 1px 0;
}
body.index .news .featured-content {
  width: 58.333333333333336%;
  padding: 0 0 0 1em;
  margin: 0;
  position: relative;
}
body.index .news .featured-content h3 {
  margin-bottom: 0.25em;
  font-size: 1.618em;
}
body.index .news .featured-content .more {
  position: absolute;
  bottom: 0.25em;
  right: 0;
  text-decoration: none;
  color: #08d;
  font-weight: bold;
  margin-right: 1.618em;
}
body.index .news .featured-content .more:hover:after {
  animation: read-more 0.3s ease-in-out infinite alternate;
}
body.index .news .featured-content .more:after {
  position: absolute;
  right: -0.8em;
  content: "\00bb";
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body.index .play-now {
  width: 50%;
  padding: 0 4%;
  text-align: center;
  color: #fff;
}
body.index .play-now h1 {
  color: #eee;
  text-shadow: 1px 1px 0 #a7a7a7, 2px 2px 0 #a7a7a7, 3px 3px 0 #5f5f5f, 4px 4px 0 #5f5f5f, 5px 5px 0 #5f5f5f, 6px 6px 0 #5f5f5f, 8px 8px 0 rgba(0,0,0,0.75), -0.05em -0.05em 0 rgba(0,0,0,0.75);
  margin: 0.8em 0;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Verdana', 'Roboto', Arial, sans-serif;
}
body.index .play-now h1 .flasher {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: #ffc107;
  text-shadow: 1px 1px 0 #b76b00, 2px 2px 0 #b76b00, 3px 3px 0 #692c00, 4px 4px 0 #692c00, 5px 5px 0 #692c00, 6px 6px 0 #692c00, 8px 8px 0 rgba(0,0,0,0.75), -0.05em -0.05em 0 rgba(0,0,0,0.75);
}
body.index .play-now .btn-play {
  font-size: 1.618em;
}
body.index .play-now .btn-play small {
  display: block;
  font-size: 0.4em;
}
body.index .site-footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  color: rgba(255,255,255,0.82);
  text-align: center;
  font-size: 13px;
}
body.me #site {
  position: relative;
  background: #efefef url("../img/reg-pattern.png") repeat;
}
body.me #site .profile-header {
  z-index: 12;
  display: block;
  position: relative;
  padding: 2em 4em;
  background: #121212 url("../../_assets/img/cover.png") no-repeat left 60%;
  background-size: cover;
  border-bottom: 0.5em solid #333;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2), 0 4px 0 0 #111, 0 6px 0 0 rgba(0,0,0,0.14);
  -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2), 0 4px 0 0 #111, 0 6px 0 0 rgba(0,0,0,0.14);
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2), 0 4px 0 0 #111, 0 6px 0 0 rgba(0,0,0,0.14);
}
body.me #site .profile-header .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body.me #site .profile-header .content .header-brand {
  margin-right: auto;
}
body.me #site .profile-header .content .login-btn {
  float: right;
}
body.me #site .profile-header .navbar {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
body.me #site .profile-header .navbar .navbar-nav {
  display: block;
  width: 920px;
  list-style: none;
  background: rgba(0,0,0,0.55);
  padding: 0 1.618em;
}
body.me #site .profile-header .navbar .navbar-nav .nav-item {
  display: inline-block;
}
body.me #site .profile-header .navbar .navbar-nav .nav-item:not(:first-child) {
  padding-left: 3em;
}
body.me #site .profile-header .navbar .navbar-nav .nav-item.active > a {
  border-bottom: 3px solid #fff;
}
body.me #site .profile-header .navbar .navbar-nav .nav-item.active > a,
body.me #site .profile-header .navbar .navbar-nav .nav-item a:hover {
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.75);
}
body.me #site .profile-header .navbar .navbar-nav .nav-item a {
  padding: 0.6em 0.4em;
  display: block;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}
body.me #site .site-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
body.me #site .site-wrapper .container {
  display: block;
  position: relative;
  width: 920px;
}
body.me #site .site-wrapper .container .navbar {
  display: block;
  position: relative;
  background: linear-gradient(to bottom, #fff 50%, #f8f8f8 50%);
  -webkit-border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
  border: 0.15em solid #ccc;
  -webkit-box-shadow: 0 2px 0 0 #ccc, 0 4px 0 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 2px 0 0 #ccc, 0 4px 0 0 rgba(0,0,0,0.75);
  box-shadow: 0 2px 0 0 #ccc, 0 4px 0 0 rgba(0,0,0,0.75);
  margin-bottom: 1.618em;
}
body.me #site .site-wrapper .container .navbar .navbar-nav {
  position: relative;
  list-style: none;
  padding: 0;
}
body.me #site .site-wrapper .container .navbar .navbar-nav:before,
body.me #site .site-wrapper .container .navbar .navbar-nav:after {
  content: '';
  display: table;
}
body.me #site .site-wrapper .container .navbar .navbar-nav:after {
  clear: both;
}
body.me #site .site-wrapper .container .navbar .navbar-nav .nav-item {
  display: inline-block;
  float: left;
  position: relative;
}
body.me #site .site-wrapper .container .navbar .navbar-nav .nav-item.active > a,
body.me #site .site-wrapper .container .navbar .navbar-nav .nav-item:hover > a {
  background: linear-gradient(to bottom, #f8f8f8 50%, #f0f0f0 50%);
  font-weight: bold;
}
body.me #site .site-wrapper .container .navbar .navbar-nav .nav-item a {
  display: block;
  padding: 1em 1.618em;
  color: #333;
  font-weight: normal;
  text-decoration: none;
  text-shadow: none;
  border-right: 1px dashed #ccc;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
body.me #site .site-wrapper .container .navbar .navbar-nav .nav-item a:active {
  background: linear-gradient(to bottom, #f0f0f0 50%, #e3e3e3 50%);
  -webkit-box-shadow: inset 1px 2px rgba(0,0,0,0.22), inset 4px 6px 0 rgba(0,0,0,0.14);
  -moz-box-shadow: inset 1px 2px rgba(0,0,0,0.22), inset 4px 6px 0 rgba(0,0,0,0.14);
  box-shadow: inset 1px 2px rgba(0,0,0,0.22), inset 4px 6px 0 rgba(0,0,0,0.14);
}
body.me #site .site-wrapper .container .user-info {
  display: block;
  position: relative;
  width: 100%;
}
body.me #site .site-wrapper .container .user-info .banner {
  display: block;
  position: relative;
  background-color: #fff;
  color: #333;
  border: 0.15em solid #ccc;
  -webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.6);
  -moz-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.6);
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.6);
  text-shadow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: auto;
  background: #fff url("../../_assets/img/me-cover.jpg") no-repeat center bottom;
  background-size: cover;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border: none;
  padding: 2.617924em;
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container {
  display: block;
  position: relative;
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container:before,
body.me #site .site-wrapper .container .user-info .banner .avatar-container:after {
  content: '';
  display: table;
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container:after {
  clear: both;
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container .user-tag {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: absolute;
  padding: 0.6em 0;
  top: -0.6em;
  left: 0;
  border-left: 1px solid rgba(0,0,0,0.18);
  -webkit-box-shadow: -5px 0 6px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 0 6px -5px rgba(0,0,0,0.5);
  box-shadow: -5px 0 6px -5px rgba(0,0,0,0.5);
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container .user-tag .tag {
  position: relative;
  font-size: 0.7em;
  color: #fff;
  padding: 0.3em 0.6em;
  background: linear-gradient(to bottom, #444 50%, #333 50%);
  -webkit-border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  border-radius: 0 0.25em 0.25em 0;
  text-shadow: 1px 1px 0 #111;
  left: -2px;
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container .user-tag .tag.primary {
  background: linear-gradient(to bottom, #ffc107 50%, #ffa000 50%);
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container .user-tag .tag.danger {
  background: linear-gradient(to bottom, #f44336 50%, #d32f2f 50%);
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container .user-tag .tag.info {
  background: linear-gradient(to bottom, #2196f3 50%, #1976d2 50%);
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container .avatar {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  width: 140px;
  height: 140px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  background: linear-gradient(to bottom right, #ddd 20%, #fff 82%);
  border: 0.15em solid #eee;
  -webkit-box-shadow: inset 4px 4px 0 rgba(0,0,0,0.18), 2px 2px 0 0 rgba(0,0,0,0.18);
  -moz-box-shadow: inset 4px 4px 0 rgba(0,0,0,0.18), 2px 2px 0 0 rgba(0,0,0,0.18);
  box-shadow: inset 4px 4px 0 rgba(0,0,0,0.18), 2px 2px 0 0 rgba(0,0,0,0.18);
}
body.me #site .site-wrapper .container .user-info .banner .avatar-container .avatar img {
  display: inline-block;
  position: relative;
  bottom: 1.781452392364234em;
  max-width: 128px;
}
body.me #site .site-wrapper .container .user-info .banner .info {
  flex: 1;
  display: inline-block;
  float: left;
  position: relative;
  padding: 0 0.8em;
}
body.me #site .site-wrapper .container .user-info .banner .info header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
}
body.me #site .site-wrapper .container .user-info .banner .info header .name {
  display: inline-block;
  position: relative;
  color: #ffc107;
  padding-bottom: 6px;
  line-height: 1em;
  font-size: 2.159561754807615em;
  margin-right: 0.4em;
  text-shadow: 0 0 1px #111, 1px 1px 0 #ef6c00, 2px 2px 0 #ef6c00, 3px 3px 0 rgba(0,0,0,0.65);
}
body.me #site .site-wrapper .container .user-info .banner .info header .status {
  content: '';
  display: inline-block;
  min-width: 18px;
  min-height: 18px;
  padding: 4px 8px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.75);
  background: linear-gradient(to bottom, #444 50%, #333 50%);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #111, 2px 2px 0 0 #111, 3px 3px 0 0 rgba(0,0,0,0.65);
  -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #111, 2px 2px 0 0 #111, 3px 3px 0 0 rgba(0,0,0,0.65);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #111, 2px 2px 0 0 #111, 3px 3px 0 0 rgba(0,0,0,0.65);
}
body.me #site .site-wrapper .container .user-info .banner .info header .status.on {
  background: linear-gradient(to bottom, #4caf50 50%, #388e3c 50%);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #1b5e20, 2px 2px 0 0 #1b5e20, 3px 3px 0 0 rgba(0,0,0,0.65);
  -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #1b5e20, 2px 2px 0 0 #1b5e20, 3px 3px 0 0 rgba(0,0,0,0.65);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #1b5e20, 2px 2px 0 0 #1b5e20, 3px 3px 0 0 rgba(0,0,0,0.65);
}
body.me #site .site-wrapper .container .user-info .banner .info header .status.sleeping {
  background: linear-gradient(to bottom, #ffc107 50%, #ffa000 50%);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #e65100, 2px 2px 0 0 #e65100, 3px 3px 0 0 rgba(0,0,0,0.65);
  -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #e65100, 2px 2px 0 0 #e65100, 3px 3px 0 0 rgba(0,0,0,0.65);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.18), 1px 1px 0 0 #e65100, 2px 2px 0 0 #e65100, 3px 3px 0 0 rgba(0,0,0,0.65);
}
body.me #site .site-wrapper .container .user-info .banner .info .content {
  display: block;
  position: relative;
  width: 100%;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form {
  display: block;
  position: relative;
  width: 100%;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status {
  padding: 0.4em 2em 0.4em 1em;
  border: 0.15em solid #eee;
  background-color: #fff;
  color: #333;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.18);
  -moz-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.18);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.18);
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-shadow: none;
  resize: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly) {
  margin: 0;
  font-size: 14px;
  padding: 0.4em 2em 0.4em 1em;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly) + .edit-btn {
  color: #999;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .status:not(.readonly) + .edit-btn:hover {
  color: #fff;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .edit-btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 6px;
  color: #ccc;
  background: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .status-form .edit-btn:hover {
  color: #333;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .acc-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 0.2em;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .acc-info .val-box {
  flex: 1;
  display: flex;
  position: relative;
  font-size: 13px;
  font-weight: bold;
  padding: 0.4em 2em 0.4em 1em;
  border: 0.15em solid #eee;
  background-color: #fff;
  color: #333;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.18);
  -moz-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.18);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.18);
  padding: 0.3em 0.4em;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .acc-info .val-box:not(:last-child) {
  margin-right: 1em;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .acc-info .val-box .icon {
  width: 16px;
  height: auto;
  margin-right: 0.5em;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .acc-info .val-box .val {
  display: inline-block;
}
body.me #site .site-wrapper .container .user-info .banner .info .content .last-access {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 0.6em;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
}
body.me #site .site-wrapper .container .user-info .banner .r-content {
  flex: 1;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  position: relative;
}
body.me #site .site-wrapper .container .user-info .banner .r-content .play-btn {
  display: flex;
  align-items: center;
  position: relative;
}
body.me #site .site-footer {
  position: relative;
  background: #060606;
  color: #eee;
  text-align: center;
  padding: 2em;
  font-size: 13px;
}
body.register .center {
  display: table;
  margin: 0 auto;
  text-align: center;
}
body.register .input-radio {
  display: inline-block;
  margin: 0.5em 0;
}
body.register #site {
  background: #121212 url("../img/reg-pattern.png") repeat;
}
body.register #masthead {
  position: relative;
  background: rgba(0,0,0,0.82);
}
body.register .site-wrapper {
  width: 100%;
  padding: 2.617924em;
  color: rgba(255,255,255,0.82);
}
body.register .site-wrapper .left {
  padding-right: 2.617924em;
}
body.register .site-wrapper .left h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  margin: 0 0 1.618em 0;
  text-shadow: 1px 1px 0 #555, 2px 2px 0 #555;
}
body.register .site-wrapper .left .reg-form {
  padding: 0;
  width: 100%;
  display: block;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.42);
}
body.register .site-wrapper .left .reg-form .input-group input {
  width: 100%;
}
body.register .site-wrapper .left .reg-form .gender {
  padding: 0 6px;
}
body.register .site-wrapper .left .reg-form .gender label {
  position: relative;
}
body.register .site-wrapper .left .reg-form .gender label:hover > span {
  visibility: visible;
  opacity: 1;
}
body.register .site-wrapper .left .reg-form .gender label span {
  display: block;
  visibility: hidden;
  opacity: 0;
  font-size: 13px;
  position: absolute;
  bottom: 100%;
  color: #fefefe;
  background: #111;
  padding: 6px 8px;
  left: 20%;
  margin-bottom: 4px;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 2px 3px 0 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 3px 0 0 rgba(0,0,0,0.3);
  box-shadow: 2px 3px 0 0 rgba(0,0,0,0.3);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
body.register .site-wrapper .left .reg-form button {
  margin-top: 2em;
  font-size: 1.3em;
  margin-left: 0;
}
body.register .site-wrapper .right {
  padding: 2.617924em;
  text-align: center;
}
body.register .site-footer {
  position: relative;
  color: #eee;
  background: #060606;
  padding: 1.618em;
  font-size: 13px;
  text-align: center;
}
html,
body {
  min-width: 920px;
  width: 100%;
  position: relative;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #000;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
  color: #ffc107;
}
a:hover {
  text-decoration: underline;
}
#site {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}
.limited-textarea {
  resize: none !important;
}
.error {
  display: block;
  padding: 0 1em;
  color: #fff;
  background: #f44336;
  font-weight: bold;
  text-align: center;
  font-size: 0.9em;
  max-height: 0;
  overflow: hidden;
  animation: error 0.25s 1s ease;
  animation-fill-mode: forwards;
}
@-moz-keyframes read-more {
  to {
    right: -1em;
  }
}
@-webkit-keyframes read-more {
  to {
    right: -1em;
  }
}
@-o-keyframes read-more {
  to {
    right: -1em;
  }
}
@keyframes read-more {
  to {
    right: -1em;
  }
}
@-moz-keyframes flasher {
  to {
    color: #ffc107;
  }
}
@-webkit-keyframes flasher {
  to {
    color: #ffc107;
  }
}
@-o-keyframes flasher {
  to {
    color: #ffc107;
  }
}
@keyframes flasher {
  to {
    color: #ffc107;
  }
}
@-moz-keyframes extruded-flasher {
  to {
    color: #ffc107;
    text-shadow: 1px 1px 0 #b76b00, 2px 2px 0 #b76b00, 3px 3px 0 #692c00, 4px 4px 0 #692c00, 5px 5px 0 #692c00, 6px 6px 0 #692c00, 8px 8px 0 rgba(0,0,0,0.75), -0.05em -0.05em 0 rgba(0,0,0,0.75);
  }
}
@-webkit-keyframes extruded-flasher {
  to {
    color: #ffc107;
    text-shadow: 1px 1px 0 #b76b00, 2px 2px 0 #b76b00, 3px 3px 0 #692c00, 4px 4px 0 #692c00, 5px 5px 0 #692c00, 6px 6px 0 #692c00, 8px 8px 0 rgba(0,0,0,0.75), -0.05em -0.05em 0 rgba(0,0,0,0.75);
  }
}
@-o-keyframes extruded-flasher {
  to {
    color: #ffc107;
    text-shadow: 1px 1px 0 #b76b00, 2px 2px 0 #b76b00, 3px 3px 0 #692c00, 4px 4px 0 #692c00, 5px 5px 0 #692c00, 6px 6px 0 #692c00, 8px 8px 0 rgba(0,0,0,0.75), -0.05em -0.05em 0 rgba(0,0,0,0.75);
  }
}
@keyframes extruded-flasher {
  to {
    color: #ffc107;
    text-shadow: 1px 1px 0 #b76b00, 2px 2px 0 #b76b00, 3px 3px 0 #692c00, 4px 4px 0 #692c00, 5px 5px 0 #692c00, 6px 6px 0 #692c00, 8px 8px 0 rgba(0,0,0,0.75), -0.05em -0.05em 0 rgba(0,0,0,0.75);
  }
}
@-moz-keyframes error {
  to {
    max-height: 72px;
    padding: 1em;
  }
}
@-webkit-keyframes error {
  to {
    max-height: 72px;
    padding: 1em;
  }
}
@-o-keyframes error {
  to {
    max-height: 72px;
    padding: 1em;
  }
}
@keyframes error {
  to {
    max-height: 72px;
    padding: 1em;
  }
}
