// Core
@import "core/config"
@import "core/mixins"
@import "core/fonts"

// Components
@import "components/*"

// Pages
@import "pages/*"

html, body
  min-width 920px
  width 100%
  position relative
  font-family 'Roboto', Arial, sans-serif
  background-color #000
html
  height 100%
body
  min-height 100%

*
  margin 0
  padding 0
  box-sizing border-box
  outline none

a
  text-decoration none
  color #FFC107

  &:hover
    text-decoration underline

#site {
  position relative
  width 100%
  min-height 100%
  min-width 100%
}

.limited-textarea
  resize none !important

.error
  display block
  padding 0 1em
  color #FFF
  background $btn-colors['danger'];
  font-weight bold
  text-align: center
  font-size: .9em
  max-height 0
  overflow hidden
  animation error .25s 1s ease
  animation-fill-mode forwards

// Keyframes

// Read More Animation
@keyframes read-more
  to
    right -1em

// Colored animation
@keyframes flasher
  to
    color #FFC107
@keyframes extruded-flasher
  to
    text-extrude primary

@keyframes error
  to
    max-height 72px
    padding 1em
